<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">

    <!-- display username n balance once logged in -->
    <% if User.is_logged_in?(session) %>
      <h1>Welcome, <%= @current_user[:username] %>!</h1>
      <h3>Your Balance: <%= @current_user[:password] %></h3>
    <% else %>
    <a href="/">Back to home page</a>
    <% end %>
    <br>
    <a href="/logout">Log Out</a>

  </body>
</html>